.icon {
    width: 24px;
    height: 24px;
    margin: auto;
    flex-shrink: 0;

    background-color: black;
    mask-size: cover;
}

.icon-menu {
    mask-image: url("/icons/menu.svg");
}

.icon-star {
    mask-image: url("/icons/star.png");
}

.icon-search {
    mask-image: url("/icons/search.svg");
}

.icon-filter {
    mask-image: url("/icons/filter.svg");
}

.icon-location {
    mask-image: url("/icons/location.svg");
}

.icon-quote {
    mask-image: url("/icons/quote.svg");
    background-color: var(--primary-color);
}

.icon-phone {
    mask-image: url("/icons/phone.svg");
}

.icon-email {
    mask-image: url("/icons/email.svg");
}

.icon-location-filled {
    mask-image: url("/icons/location-filled.svg");
}