:root {
    --bg-color: #fff;
    --primary-color: ##7c3aed;
    --text-color: ##111827;
    --text-muted-color: #aaaaaa;

    --lg-padding-x: 128px;
    --sm-padding-x: 32px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

p {
    margin: 0;
}

button {
    border: none;
    background: none;
    padding: 0;
}

button:hover {
    cursor: pointer;
}